@{
    ViewBag.Title = "About Lore Binder";
}
<h1>Lore Binder</h1>
<h3>Is a product of the wild - and wildly (foolishly) ambitious- Tom Jarzyniecki III</h3>

<p>It's primary purpose is to be a resource for Storytellers, a good deal of the functionality is currently D&D 5e orieneted, but the 'lore master' side of the application seeks to be a welcome addition to any Storyteller's toolkit as a place to organize and map out complex narrative worlds.</p>
<p>This application is intended to fill a void I first noticed in my own fruitless search for a campaign management system that was exstensible and customizable enough to suit my needs.</p>
<p>When, to my surprise I realized such a thing did not exist, at least not for the hobbiest story teller like myself, I set about planning, designing and dreaming up the <b><i>perfect</i></b> Campaign management application. So when the opportunity to make something of my own design as my final <i>Red Badge</i> project at Eleven-Fifty Academy, I set out to realize my dream campaign management app. While this is not quite there <i>yet</i> it is a great start, and I'm excited to see what the future will bring for it.</p>