@{
    ViewBag.Title = "Contact Me";
}

<h1>Lore Binder</h1>
<h3>Is a product of the wild imagination of Me, <b>Tom Jarzyniecki III</b></h3>

<br />
<p>You can find more of my work and methods to contact me through my github page: </p><a href="https://tjjarz.github.io/">tjjarz.github.com</a>