@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>World Builder!</h1>
    <p class="lead">World Builder is a totally sweet "web" application that facilitates world building for creatives, with a <i>subtle emphasis</i> on Dungeon Masters who obesses over their hand crafted worlds!</p>
    <p><a href="~/World" class="btn btn-primary btn-lg">View your World! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Prepare to be <b>AMAZED</b></h2>
        <p>
            It's super awesome, trust me! I wouldn't lie to you!
        </p>
        <p><a class="btn btn-default" href="">Create World &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>