
@using System.Xml.Linq;
@using WorldBuilder.MVC.Models;
@model List<XElement>
@{
    
    
    //Model.Add(new XElement("CurrentData","stuff"));
    if (IsPost)
    {
        int count = 0;

        while (true)
        {
            string curxlname = "xlName[" + count + "]";
            string curxlvalue = "xlValue[" + count + "]";
            //int escape = Request.Form[curxlname].Count();
            if (Request.Form[curxlname].Count() == 0) { break; }
            var newxlname = Request.Form[curxlname];
            var newxlValue = Request.Form[curxlvalue];

            Model.Add(new XElement(newxlname, newxlValue));
        }
    }
}

@{
    ViewBag.Title = "Create";
}

<script type="text/javascript">
    $(function () {
        var formCount = 0;
        // Remove button click
        $(document).on(
            'click',
            '[data-role="dynamic-fields"] > .form-inline [data-role="remove"]',
            function (e) {
                e.preventDefault();
                $(this).closest('.form-inline').remove();
            }
        );
        // Add button click
        /*$(document).on(
            'click',
            '[data-role="dynamic-fields"] > .form-inline [data-role="add"]',
            function (e) {
                e.preventDefault();
                var container = $(this).closest('[data-role="dynamic-fields"]');
                new_field_group = container.children().filter('.form-inline:first-child').clone();
                new_field_group.find('input').each(function () {
                    $(this).val('');
                });
                container.append(new_field_group);
            }
        );*/
        $(document).on(
            'click',
            '[data-role="dynamic-fields"] > .form-inline [data-role="add"]',
            function (e) {
                e.preventDefault();
                formCount++;
                if (formCount > 0) {
                    $("#btnrmv").prop("disabled", false);
                }
                var container = $(this).closest('[data-role="dynamic-fields"]');
                new_field_group = container.children().filter('.form-inline:first-child').clone();
                new_field_group.find('input').each(function () {

                    if (this.name.startsWith("xlName")) {
                        this.name = "xlName[" + formCount + "]";
                    }
                    $(this).val('');
                });
                new_field_group.find('textarea').each(function () {

                    if (this.name.startsWith("xlValue")) {
                        this.name = "xlValue[" + formCount + "]";
                    }
                    $(this).val('');
                });
                container.append(new_field_group);
                //bindKeyUpEvent();
            }
        );
        $(document).on(
            'click',
            '[data-role="draftsave"]',
            function () {
                var count = 0;

                while (false) {
                    var curxlname = "xlName[" + count + "]";
                    var curxlvalue = "xlValue[" + count + "]";
                    //int escape = Request.Form[curxlname].Count();
                    if (Request.Form[curxlname].Count() == 0) { break; }
                    var newxlname = Request.Form[curxlname];
                    var newxlValue = Request.Form[curxlvalue];

                    Model.Add(new XElement(newxlname, newxlValue));
                }
            }
        )
    });
</script>


<h2>Create</h2>
<!--Grabbed from https://bootsnipp.com/snippets/VPRlZ-->

@using (Html.BeginForm())
{
    <div class="container">
        <div data-role="dynamic-fields">
            <div class="form-inline">
                <div class="row form-horizontal">
                    <input type="text" class="form-control" id="field-name" placeholder="Catagory" name="xlName[0]">
                    <textarea type="text" class="form-control" id="field-value" placeholder="Character, Item etc" name="xlValue[0]"></textarea>
                    <div class="col-md-12">
                    </div>  <!-- /div.col-md-12 -->
                    <button class="btn btn-danger" data-role="remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-primary" data-role="add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>  <!-- /div.form-inline -->
        </div>  <!-- /div[data-role="dynamic-fields"] -->
        <div class="col-md-12">
        </div>  <!-- /div.col-md-12 -->
        <button class="btn btn-primary" data-role="draftsave">Save</button>
        <input type="submit" value="Submit" class="btn btn-default" />
    </div>
}


<style>
    html, body {
        padding-top: 20px;
    }

    .form-control {
        position: relative;
        max-width: 100%;
        width: 80%;
    }

    textarea {
        text-decoration: none;
    }

    .btn {
        background-color: #6f64ff;
        padding: 1px 6px;
    }

    #field-name {
        background-color: #8e8e8e;
        font-weight: 700;
        color: #ffffff;
    }

    [data-role="dynamic-fields"] > .form-inline + .form-inline {
        margin-top: 0.5em;
    }

    [data-role="dynamic-fields"] > .form-inline [data-role="add"] {
        display: none;
    }

    [data-role="dynamic-fields"] > .form-inline:last-child [data-role="add"] {
        display: inline-block;
    }

    [data-role="dynamic-fields"] > .form-inline:last-child [data-role="remove"] {
        display: none;
    }
</style>
