:root {
    --field-name-color: #c4c4c4;
    --field-value-color: #eaeaea;
    --field-dark-name: #8e8e8e;
    --main-bg: #c4c4c4;
}

body {
    /*padding-top: 30px;*/
    padding-bottom: 20px;
    color: #ffffff;
    font-family: 'Merriweather', serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
    /*background-color: var(--main-bg);*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

