:root {
    --field-name-color: #c4c4c4;
    --field-value-color: #eaeaea;
    --field-dark-name: #8e8e8e;
    --main-bg: #c4c4c4;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #8e8e8e;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background: #8e8e8e;
    background-color: var(--main-bg);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
}

::placeholder {
    color: #000000;
}