@model List<WorldBuilder.Data.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="grid-container cardcollection">



    @for (var i = 0; i < Model.Count(); i++)
    {
        <section class="grid-item mycard">

            <img src="~/Content/assets/ItemPanel.svg" class="panel-svg-small" />

            <div class="carddata grid-container">
                @Html.EditorFor(model => model.ElementAt(i).Name, new { htmlAttributes = new { @class = "grid-item cardtext cardName startdis" } })
                @Html.EditorFor(model => model.ElementAt(i).Mechanics, new { htmlAttributes = new { @class = " grid-item cardtext cardDetail2 startdis" } })
                @Html.TextAreaFor(model => model.ElementAt(i).Summary, new { @class = "grid-item cardtext cardSummary stardis" })
            </div>
        </section>
    }
</div>
